html,body{
	width: 100%;
	height: 100%;
	font-family: Ave;
}

.space100px{
	margin: 50px 0;
}

.navbar{
	margin-bottom: 0;
	border-radius: 0;
}

.alert{
	margin-bottom: 0;
}

@font-face {
    font-family: Ave;
    src: url(../fonts/demi.otf);
}

@font-face {
    font-family: Ave;
    src: url(../fonts/bold.otf);
    font-weight: bold;
}

.bgIndex{
	background: url("../img/bg.jpg") no-repeat center center; 
}


.jumbotron{
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: cover;
}

.jumbotron h1,.jumbotron p{
	color:white;
}

.btn-primary{
	background-color: #FF9900;
	border-color: #FF9900;
	color:#fff;
}


.btn-primary:hover{
	background-color: #9C6800;
	border-color: #9C6800;
	color:#fff;
}

.text-center{
	text-align: center !important;
}

.email-start{
	width: 40%;
	background: transparent;
	border:3px white solid;
	height: 45px;
	font-size: 20px;
	color: white;
}

.bold{
	font-weight: bold;
}

.space100px{
	margin: 50px 0;
}

.inputWrapper {
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button*/
    background-color: #EDA109;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 0;
    text-align: center;
}

.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

input:focus {outline: none; }

html,body{
	width: 100%;
	height: 100%;
	font-family: Ave;
	font-size: 18px;
}


.bookType input[type='checkbox']{
	display: none;
	outline:none;
}

.bookType{
	display: inline;
	font-size: 20px;
	font-weight: 100;
	border:4px solid #FFBD39;
	padding: 15px;
	margin: 15px 2px;
	background-color: #fff;
}

.bookType:focus {outline:0;color:#fff;}

.bookType:hover{
	background-color: #FFBD39;
}

.form-control{
	width: 30%;
	display: inline;
}

.selected{
	background-color: #FFBD39;
	color: #fff;
	border-color: #FFBD39;
}

.book-cover{
	border: 5px dotted gray;
}


#screenshot{
	width: 160px;
	height: 200px;
}



.width100{
	width: 100% !important;
}

.dropdown{
	display: inline;
}


.cover-admin{
	width: 160px;
	height: 200px;
}


.ipadInputFix{
		width:115px;
	}
/*mobile*/



@media (max-width: 992px) {
	
	
	
    .floatoverride {
        float: none !important;
    }

    .formAuthor{
    	width: 100%;
    }
}